
.container_detalhais{
    height: 100%;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9); /* Sombra mais forte */
    position: fixed;
    overflow: hidden;
}
.janela_detalhe{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #DD1010;
        
}
.tamanho,#mais1,#menos1{
    width: 3em;
    border-radius: 0.5em;
    border: 1px solid black;
    background: beige;
    margin: .2em;
}
.inf_produto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.produto_detalhes{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    width: 60%;
    color: white;
}
.produto_detalhes> img{
    width: 100%;
}
.quantidade{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: baseline;
}
.tamanhos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 32%;
}

.descricao{
    background: #c7c7c7;
    display: flex;
    width: 40%;
    padding: .8em;
}
.config{
    width: 100%;
    display: flex;
}
#adicionarCarrinho,#personaliza{
    width: 50%;
    height: 2em;
}
