
.container_detalhais{ 
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    margin: 3em;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.volta{
    width: 92%;
    margin-bottom: .3em;
}
.volta button{
    background: #3e8e41;
    border: none;
    border-radius: .5em;
    width: 2rem;
    height: 2rem;
}
.janela_detalhe{
    width: 80%;
    border-radius: 2em;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgb(18, 18, 18);
        
}
.tamanho,#mais1,#menos1{
    width: 3em;
    border-radius: 0.5em;
    border: 1px solid black;
    background: beige;
    margin: .2em;
}
.inf_produto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.produto_detalhes{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    width: 60%;
    color: white;
}
.produto_detalhes> img{
    width: 100%;
}
.quantidade{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: baseline;
}
.tamanhos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 32%;
}

.descricao{
    background: #c7c7c7;
    display: flex;
    width: 40%;
    padding: .8em;
}
#value{color: #c7c7c7;}
.config{
    width: 100%;
    display: flex;
}
#adicionarCarrinho,#personaliza{
    width: 50%;
    height: 2em;
    background-color: #3e8e41;
    border: none;
    border-radius: .3em;
    margin: .1em;
}
