*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cabecario{
    background: #DD1010;
}
    .cabecario >.logo{
        display: flex;
        width: auto;
        padding: 1.25em;
    }
    .cabecario >.logo > p{
        margin: 0.25em;
    }