*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cabecario{
    background: #DD1010;
    display: flex;
    
}
    .cabecario >.logo{
        display: flex;
        width: 40%;
        padding: 1.25em;
    }
    .cabecario >.logo > p{
        margin: 0.25em;
    }
    .cabecario >.logo > img{
        border-radius: 12%;
    }

.link-navegacao{
    display: flex;
    align-items: flex-end;
    justify-content: center;
} 
.links{
    margin-left: 1em;
}   
    .links > p {
        font-size: larger;
        font-weight: bold;
        color: white;
    }
.bi{
    width: 10%;
}