.init-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
}
.img_logo{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 15em;
    height: 15em;
    border-radius: 10em;
    border: 1px solid black;
   
}
.img_logo > img{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
}
.infs{
    text-align: center;
    list-style: none;
}
.infs > li{
    margin-top: .5em;
    font-size: medium;
    font-weight: bolder;
}
.sair{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-sair{
    padding: .5em;
    width: 25%;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    height: 3em;
}
