.produtos{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    height: 10em;
    max-height: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}
.container > img{
    max-width: 100%;
    max-height: 80%;
}
.infs_produto{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.detalhes{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.detalhes > p{
    width: inherit;
    display: flex;
}

.inf{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: .5em;
}
.btn_produto{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.btn{
    margin: .5em;
    width: 20%;
    height: 50%;
    border: none;
    color: white;
}

.edita {background-color: green;}
.delete { background-color: red;}
.type{
    color: #777;
}
#operacoes{
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 0;
    background: none;
    position: fixed;
}
.form_op{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn_close{
    width: 100%;
    display: flex;
    justify-content: end;
    background: none;
}