<div class="janela_detalhe" id="tela_detalhe">
    <div class="volta">
      <button onclick="fechaDetalhes()" ><i class="bi bi-x-lg"></i></button>
    </div>
    <div class="detalhe">
      <div class="inf_produto">
        <div class="produto_detalhes">  
            <img src="{{path}}" id="imgProduct" alt="{{id_produto}}" type="{{tipo}}" width="200px" onerror="NotFoundImg('{{tipo}}', this)">
          <div class="quantidade">
            <button id="mais1" onclick="mais1()">+</button>
            <p id="quantidade">1</p>
            <button id="menos1" onclick="menos1()">-</button>
          </div>
        </div>
      
        <div class="descricao">
          <p id="nameProduct"> {{nome_produto}}</p>
        </div>
      </div>
    
      <p class="value"> valor = <span id="value" product-value={{valor}}>{{valor}}</span> </p>
    
      <div class="config">
          <button id="adicionarCarrinho" onclick="addCarinho()">add carrinho</button>
      </div>
    </div>
</div> 