<header class="title">carinho</header>
<div class="container_list_produtos">
    <div class="card_produtos_carinho" id="produtos_carinho">

    </div>

    <div class="valor_total">
        <p>valor total = R$<span id="valortotal"></span> </p>
    </div>
    <button id="entrega">entrega</button>
    <button id="mesa">mesa</button>

    <div class="config">
        <button onclick="cardapioAtive(`${empresa[0].id_empresa}`)">add mais </button>
        <button onclick="telaDeEmtrega(mudarValorDaVariavel())">finaliza</button>
    </div>
</div>

<div class="container_pagamentos">

</div>